<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Yatra Coorg - Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/Images/favicon.ico" />
    <link rel="stylesheet" href="~/Content/Login/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/main.css">
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
