<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Yatra Coorg - Sign Up</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/Images/favicon.ico" />
    <!-- Font Icon -->
    <link rel="stylesheet" href="~/fonts/material-icon/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/Content/SignUp/style.css">
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>