@model IEnumerable < YCWeb.Models.Facilitiy>

@{
    Layout = null;
}
<div class="tbl-header">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Room Type
                </th>
                <th>
                    Facilities
                </th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>
<div class="tbl-content">
    <table>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomtypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FacilityName)
                    </td>
                    <td>
                        <a href="#" onclick="DeleteConfirmedRoomTypeOption(@item.RoomtypeId,@item.RoomTypeOptionID)">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <button onclick="OpenRoomTypeOption();" class="BackList">Back to List</button>
</div>